﻿<!DOCTYPE html>
<html>
<body>

    <header id="header">
        <h1>GUITAR SHOP</h1>
        @Html.ActionLink("Home", "Index", "Home") @Html.ActionLink("Catalog", "Index", "Home") @Html.ActionLink("Delivery and Payment", "Index", "Home") @Html.ActionLink("Contacts", "Index", "Home") @Html.ActionLink("Cart", "Index", "Home")
    </header>
    
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">
           
            @RenderBody()

        <div id="footer-wrapper">
            <footer id="footer"><p>GuitarShop CA</p></footer>
        </div>

</body>
</html>