﻿
@{
    //Layout = null;
}
<!DOCTYPE html>

<html>
<body>
    <div id="container">

        <main id="center" class="column">
            <article>

                <h1>@ViewBag.console</h1>

                @foreach (purposePrice purpose in Model)
                {

                    <h1>@purpose.Purpose.Item.Brand.Name</h1>
                    <h2>@purpose.Purpose.Item.Name</h2>
                    <h3>@purpose.price @purpose.Curency.Name</h3>
                    <p>Availability : @purpose.Purpose.AvailabilityType.Name </p> 
                    <p>@purpose.Purpose.Item.Description</p>
                    <h3>Characteristics :</h3>
                    
                }
            </article>
        </main>

        <nav id="left" class="column">
            

        </nav>

        <div id="right" class="column">
            <h3>CART</h3>
            <p>
                X
            </p>
        </div>

    </div>

</body>

</html>