﻿
@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
<body>
    <div id="container">

        <main id="center" class="column">
            <article>

                <h1>News</h1>
                <h3>News name</h3>
                <h5>data</h5>
                Ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut.
                Velit mollis odio sollicitudin lacinia aliquam posuere, sapien elementum lobortis tincidunt, turpis dui ornare nisl, sollicitudin interdum turpis nunc eget sem nulla eu ultricies orci praesent id augue nec lorem pretium congue sit amet ac nunc fusce iaculis lorem eu diam hendrerit at mattis purus dignissim vivamus mauris tellus, fringilla vel dapibus a, blandit quis erat vivamus elementum aliquam luctus etiam fringilla pretium sem vitae sodales mauris id nulla est praesent laoreet, metus vel auctor aliquam, eros purus vulputate leo, eget consequat neque quam id tellus duis ultricies tempor tortor, vitae dignissim ligula mattis nec in hac habitasse platea dictumst.
            </article>
        </main>

        <nav id="left" class="column">
            <h3>Sub Categories</h3>
            @foreach (Category category in Model)
            {
                <p>@Html.ActionLink("" + category.Name, "SubCategoryDirect", "Home", new { id = category.id.ToString() }, null)</p>
            }
        </nav>

        <div id="right" class="column">
            <h3>CART</h3>
            <p>
                X
            </p>
        </div>

    </div>


</body>

</html>
