﻿@model List<Purpose>
@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
<body>
    <div id="container">

        <main id="center" class="column">
            <article>

                <h1>@ViewBag.console</h1>
               
                @foreach (Purpose purpose in Model)
                 {
                    
                    <p>@Html.ActionLink("" + purpose.Item.Brand.Name + " "+ purpose.Item.Name+" Price: "+ purpose.purposePrices.Last().price, "GetItem", "Item", new { id = purpose.id.ToString() }, null)</p>
                }



            </article>
        </main>

        <nav id="left" class="column">
            <h3>Sort</h3>
            <h3>Filters</h3>
         
        </nav>

        <div id="right" class="column">
            <h3>CART</h3>
            <p>
                X
            </p>
        </div>

    </div>
</body>

</html>